.button-page {
  background-color: inherit;
  letter-spacing: 2.8px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 45px;
  border: none;
  margin: 20px;
  border: 1px solid #ffffff54;
  &__sepia {
    background-color: #bead8e;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    width: fit-content;
    align-self: center;
  }
}
.button-page:hover {
  background-color: $sepia;
}
.head-main__buttons {
  font-weight: 700;
  margin-top: 10px;
  color: black;
  float: right;
  background-color: white;
  padding: 15px;
  &--sepia {
    color: $sepia;
  }
}
.scroll-top-button {
  cursor: pointer;
  box-sizing: content-box;
  position: fixed;
  right: 2rem;
  bottom: 10%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 40px;
  color: #bead8e;
  z-index: 1;
  &:active {
    transform: scale(0.8);
    color: #b99656;
  }
}

@media only screen and (min-width: 600px) {
  .button-page {
    font-size: 15px;
    padding: 20px 48px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  .head-main__buttons {
    font-size: 16px;
    cursor: pointer;
  }
}
