.presentation {
  padding: 20px;
  margin-top: 30px;
}
.restaurant {
  padding: 20px;
}
.counter {
  padding: 20px;
  &__number {
    font-family: $font-oldStandard;
    font-size: 60px;
  }
  &__text {
    font-family: $font-roboto;
    font-size: 16px;
  }
}
.fa-arrow-right-long {
  color: #dcdcdc;
  font-size: 22px;
}
.container-fun-facts {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .restaurant,
  .facilities-section,
  .counter {
    padding: 20px 100px;
  }
  .about-video {
    width: 50%;
    height: 400px;
  }
  .image-about {
    width: 70%;
  }
  .container-fun-facts {
    width: 60%;
    grid-template-columns: 30% 60% 20%;
  }
  .counter__number {
    font-size: 80px;
  }
  .block-container-fun-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
