.respmenu input[type="checkbox"],
.respmenu .fa-bars,
.respmenu .fa-xmark {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.respmenu .fa-bars,
.respmenu .fa-xmark {
  padding-top: 10px;
  font-size: 30px;
  pointer-events: none;
}

.respmenu input[type="checkbox"] {
  opacity: 0;
}

.respmenu {
  color: #111111;
  position: relative;
  background: white;
  min-height: 48px;
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-xmark {
  display: none;
}

.header__sub-title {
  display: none;
}


.header {
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__nav {
    padding-top: 50px;
  }
}
.input-wrapper {
  position: relative;
  width: 20px;
}
.input {
  border: none;
  width: 5px;
}
.input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.logo {
  display: flex;
  &__H {
    padding-top: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
  &__title {
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-left: 10%;
  }
}
.user-icon {
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.list {
  list-style-type: none;
  font-weight: 600;
  line-height: 1.9;
}
@media only screen and (min-width: 600px) {
  
}
