.rooms-list {
  padding: 20px;
}
.block-center-room {
  margin-left: 15%;
  width: 70%;
  text-align: center;
  padding: 40px 0 60px;
}

.booking {
  padding-left: 3%;
  font-weight: 700;
  font-size: 20px;
  color: #bdbdbd;
}

.room-detail {
  width: 80%;
  height: 100%;
}
.sort {
  padding: 20px 40px;
  &__title {
    font-weight: 600;
  }
}
#select-room {
  border: none;
  border-bottom: 1px solid black;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination button {
  width: 40px;
  height: 40px;
border-radius: 100%;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #bead8e9e;
  margin: 5px;
  transition: 0.4s;

  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagination button:hover {
  background-color:#bead8e
}

.pagination button.active {
  background-color: #bead8e;
 

}

@media only screen and (min-width: 600px) {
  .room-detail {
    width: 100%;
  }
  .rooms-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .room-block {
    width: 400px;
    padding: 10px;
  }
  .image-rooms {
    width: 100%;
    height: 350px;
  }
  .booking {
    transition: 0.3s;
    &:hover {
      transform: scale(1.08);
    }
  }
}
